:root {
    /* candy style */
    --font-candy-shadow-1: 4px 3px 0px #7A7A7A;
    --font-candy-shadow-0: 3px 2px 0px #7A7A7A;
    --font-candy-shadow-1-hover: 4px 3px 0px #bea8a8;
    /* white */
    --font-color-1: #FFF;
    /* cream pink color background*/
    --cream-pink: #F7C1C1;
    --green-color: #165416;
    /*  */
    --cell-color-1: #FFF;
    /*  */
    --bord-color-1: #000;
}

.gamescreen {
    background-image: url("./img/just-for-testing.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.board {
    background-color: #FFF;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 15px;
}

.game-over-screen {
    background-image: url(./img/just-for-testing.jpg);
    background-size: cover;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: var(--font-color-1);
    text-shadow: var(--font-candy-shadow-1);
    z-index: 10;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
}

.cell {
    display: flex;
    background: red;
    align-items: center;
    justify-content: center;
}

.active {
    background: lime;
}

.O {
    background-image: url("./img/player_O.png");
    background-size: contain;
    height: 100px;
    width: 100px;
    z-index: 3;
}

.X {
    background-image: url("./img/player_X.png");
    background-size: contain;
    height: 100px;
    width: 100px;
    z-index: 3;
}

.clound {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/cloud.png");
    background-repeat: repeat-x;
    animation: cloud 20s linear infinite;
}


/* check screen size if size is full windows screen to taple screen 

@media only screen and (max-width: 1024px) {
      .board {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    } 
} */


/* check screen size if size is mobile screen */

@media only screen and (max-width: 600px) {
    .board {
        height: 300px;
        width: 300px;
    }
    .cell {
        height: 100%;
        width: 100%;
    }
    .O {
        height: 50px;
        width: 50px;
    }
    .X {
        height: 50px;
        width: 50px;
    }
}


/* check screen size if size is mobile screen */

@media only screen and (max-width: 400px) {
    .board {
        height: 300px;
        width: 300px;
    }
    .cell {
        height: 100%;
        width: 100%;
    }
    .O {
        height: 50px;
        width: 50px;
    }
    .X {
        height: 50px;
        width: 50px;
    }
}